doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Memory
    link(rel='stylesheet' href='/css/style.css')
    script(src='/js/vendor/jquery.js')
    script(src='/js/source/main.js')
  body
    h1 Memory
    input#start-game(type='button' value='Start Game')
    input#reset-game(type='button' value='Reset Game')
    br
    #grid
      table
        tr
          td#0
          td#1
          td#2
          td#3
          td#4
        tr
          td#5
          td#6
          td#7
          td#8
          td#9
        tr
          td#10
          td#11
          td#12
          td#13
          td#14
        tr
          td#15
          td#16
          td#17
          td#18
          td#19
